
html
	head
		title
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	body
		h1=message
		
		table
			tr
				th id Объекта
				th Имя
				th Фамилия
				th Номер телефона
				th
			each val in contacts
				tr
					td=val._id
					td=val.name
					td=val.secondname
					td=val.phone_number
					td
						button(id="btn" class="btn",  "contact_id"=val._id)=val._id

script.
	alert('Привет');
	$(".btn").click(function(){
		alert('Привет');
		alert($(this).attr("contact_id"));
	}