
html
	head
		title=title
	body
		h1=message
		- var url = 'http://localhost:3000/api/v1'; 
		a(href = url + "/contacts") Список всех контактов записной книжки
		br
		br
		a(href = url + "/add_contact") Добавление контакта
		br
		br
		a(href = url + "/find") Найти контакт
		br
		br
		a(href = url + "/delete") Удалить контакт

		// https://pugjs.org/language/iteration.html